*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 12px;
}

body {
  text-align: center;
}

.header {
  background-color: lightgreen;
}

.header-title {
  margin: 0;
  font-size: 1.5rem;
  padding: 1rem;
}

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  gap: 2rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
}

.nav li.active {
  background-color: darkgreen;
  color: white;
  font-weight: bold;
}

.nav li:hover {
  text-decoration: underline;
}

/* MAIN (css) */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.main-title {
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

/* MAIN (component) */

/* SEARCH (component) */

.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0;
  margin-top: 1rem;
  padding: 0.3em;
  padding-right: 1rem;
  width: min-content;
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
}

.searchbar-wrapper[data-active-focus="active"] {
  box-shadow: 0 0 5px #2ba6f3;
}

.searchbar-btn,
.searchbar-delete-btn {
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.searchbar-btn:hover {
  font-weight: bold;
}

#search {
  border: 0;
  outline: none;
}

/* BINS (SEARCH COMP) */

.bins-wrapper {
  display: flex;
  border: 2px solid red;
}

.bin-item-wrapper {
  opacity: 0.2;
}

.bin-img {
  max-width: 100px;
}

.bin-item-wrapper-active {
  opacity: 1;
}

/* ITEM CARD (SEARCH COMP) */

.item-card--container {
  margin: 2rem;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  border: 2px solid black;
  border-radius: 5px 50px 50px 5px;
}

.item-card--container[data="compost"] {
  background-color: rgb(212, 241, 212);
}

.item-card--container[data="recycle"] {
  background-color: rgb(201, 213, 242);
}

.item-card--container[data="landfill"] {
  background-color: rgb(211, 211, 211);
}

.item-card--unsplash-img-container {
  /* background-color: black; */
  min-width: 150px;
  /* max-width: 250px; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-card--unsplash-img {
  max-width: 100%;
  /* max-height: 100%; */
  object-fit: contain;
}

.item-card--overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  padding: 0 2rem;
}

.item-card--title {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

.item-card--type {
  font-size: 1.5rem;
}

.item-card--type-compost {
  color: green;
  font-weight: bold;
}

.item-card--type-recycle {
  color: blue;
  font-weight: bold;
}

.item-card--type-landfill {
  font-weight: bold;
}

/* GUIDES */

.main-guide-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 250px;
  justify-content: flex-end;
}

.main-guide-container ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style-type: square;
  padding: 0 2rem;
  margin: 0;
}

.pdf_list_item {
  margin: 0.25rem;
  padding: 0.25rem 0;
}

.subgrid-guides-container {
  display: flex;
  flex-direction: column;
  /* text-align: left; */
  /* padding: 0 1rem; */
  margin: 0 auto;
}

.guides-subtitle {
  font-size: 1.8rem;
  padding: 1rem 0;
  margin: 0;
}

.compost-title {
  color: rgb(59, 182, 59);
}

.recycle-title {
  color: rgb(42, 156, 194);
}

.guides_preview_img {
  max-width: 250px;
}

.subgrid-guides-container a,
.subgrid-guides-container a:visited {
  text-decoration: none;
  color: green;
  font-size: 1.25rem;
}

.subgrid-guides-container a:hover {
  text-decoration: underline;
}

@media (min-width: 600px) {
  .main-guide-container {
    max-width: 800px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .main-guide-container {
    max-width: 1000px;
    grid-template-columns: repeat(3, 1fr);
  }
}
