*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 12px;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 80px;
}

body {
  text-align: center;
}

.App {
  overflow-x: hidden;
  line-height: 1.4;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: sticky;
  top: 0;
  background: rgba(62, 174, 47, 0.847);
  z-index: 500;
}

.header-title {
  margin: 0;
  font-size: 1.5rem;
  padding: 0.25rem;
  color: white;
}

.nav {
  position: fixed;
  background: rgb(170, 170, 170);
  color: red;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
}

.nav li {
  /* background-color: darkgreen; */
  color: white;
  font-weight: bold;
  font-size: 5rem;
}

.nav li a {
  margin: 0;
  padding: 0;
}

.nav li:hover {
  /* text-decoration: underline; */
}

.nav-toggle {
  padding: 0.55em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1.3em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0%);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: white;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

@media (min-width: 800px) {
  .nav {
    position: fixed;
    background: transparent;
    bottom: calc(100% - 55px);
    left: 70%;
    right: 2rem;
    transform: translateX(0%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  }
  .nav-open .nav {
    transform: translateX(0%);
  }
  .nav-list {
    list-style: none;
    display: flex;
    /* height: 50px; */
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }
  .nav li a {
    font-size: 1.3rem;
  }
  .nav li a:hover {
    color: white;
    box-shadow: inset 0 -10px lightcoral;
  }
  .hamburger {
    display: none;
  }
}

/* HOME */

/* MAIN (css) */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.main-hero {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.main-hero-content-wrapper {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
  color: white;
  font-weight: bold;
  position: relative;
}

.main-hero-img {
  width: 100%;
}

.main-hero-title {
  position: absolute;
  top: 10px;
  width: 75%;
  left: 10px;
  flex-wrap: wrap;
  background-color: rgba(57, 57, 57, 0.75);
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 2rem;
}

.main-hero-body-content {
  position: absolute;
  bottom: 10px;
  width: fit-content;
  right: 10px;
  background-color: rgba(65, 213, 63, 0.5);
  border-radius: 5px;
  padding: 0.35rem 0.5rem;
  margin: 0;
}

@media (min-width: 800px) {
  .main-hero {
    width: 100%;
  }
  .main-hero-content-wrapper {
    max-width: 100%;
  }
  .main-hero-title {
    top: 30px;
    width: fit-content;
    left: 30px;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 3rem;
  }

  .main-hero-body-content {
    bottom: 20px;
    right: 20px;
    font-size: 1.2rem;
  }
}

/* MAIN (QUICK) INFO */

.main-info-top-content-wrapper {
  margin: 0 2rem;
}

.main-info-title {
  font-size: 2.5rem;
  padding: 1rem 0;
}

.main-info-subtitle {
  font-size: 1.5rem;
  padding: 0.75rem;
  color: rgb(73, 73, 73);
}

.main-info-body-content {
  font-size: 1.25rem;
  padding: 1rem;
  margin: 0;
}

.info-break {
  /* margin: 0 2rem; */
  width: 90%;
  height: 2px;
  background-color: rgb(155, 155, 155);
  border: 0;
}

.info-dropdown-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  justify-items: center;
  margin: 1rem 2rem;
  gap: 1rem;
  /* border: 2px solid red; */
}

.info-dropdown-content-container {
  padding: 1rem;
}

.info-title {
  font-size: 1.5rem;
}
.compost-title {
  color: rgb(59, 182, 59);
}

.recycle-title {
  color: rgb(42, 156, 194);
}

.info-dropdown-content-container p {
  font-size: 1.2rem;
}

@media (min-width: 800px) {
  .main-info {
    margin: 5rem;
    max-width: 1400px;
  }

  .main-info-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info bins";
    justify-items: center;
  }

  .main-info-top-content-wrapper {
    grid-area: info;
    margin: 1rem 3rem;
    width: 75ch;
  }

  .main-info-title {
    font-size: 2.5rem;
    padding: 1rem 0;
    margin-top: 2rem;
  }

  .main-info-subtitle {
    font-size: 1.75rem;
    padding: 0.75rem;
    margin: 1rem;
  }

  .main-info-body-content {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
  }
  .top:first-of-type {
    position: relative;
    left: 25%;
    width: 150%;
    top: 30px;
    border: 1px solid gray;
  }

  .top:last-of-type {
    display: none;
  }

  .info-dropdown-container {
    grid-area: bins;
  }
  .info-dropdown-container img {
    height: 125px;
  }

  .info-dropdown-content-container h4 {
    padding: 1em;
    margin-right: 2rem;
  }

  .info-dropdown-container p {
    padding: 1em;
    padding-top: 0;
    margin: 0;
    margin-right: 2rem;
  }

  .info-dropdown-content-container {
    text-align: left;
  }
}

.main-title {
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

/* SEARCH section within HOME */

.main-search-container {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.main-search-subtitle {
  font-size: 2.5rem;
}

.main-search-body-content {
  font-size: 1.3rem;
}

.main-search-image {
  width: 100%;
}

/* GUIDES section within HOME */
.main-guides-container {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.main-guides-subtitle {
  font-size: 2.5rem;
}

.main-guides-body-content {
  font-size: 1.3rem;
}

.main-guides-image {
  width: 100%;
}

/* LEARN section within HOME */

.main-learn-container {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.main-learn-subtitle {
  font-size: 2.5rem;
}

.main-learn-body-content {
  font-size: 1.3rem;
}

@media (min-width: 800px) {
  .main-search-container {
    height: 50rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1200px;
    /* background-color: red; */
  }

  .main-search-subtitle {
    /* border: 3px solid red; */
  }

  .main-search-body-content {
    background-color: rgb(222, 217, 167);
    border: 10px solid rgb(138, 0, 0);
    width: 50%;
    position: absolute;
    left: 55%;
    bottom: 20%;
    font-size: 2rem;
    z-index: 5;
    padding: 3rem;
  }

  .main-search-image {
    position: absolute;
    right: -40%;
    left: 0;
    bottom: 10%;
    max-width: 800px;
    border: 3px solid black;
    border-radius: 10px;
    transform: rotateZ(-1deg);
  }

  .main-guides-container {
    margin: 5rem;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
      "title img"
      "content img";
    justify-items: center;
    align-items: center;
  }

  .main-guides-subtitle {
    grid-area: title;
    margin: 0;
    padding: 0;
  }

  .main-guides-body-content {
    grid-area: content;
    max-width: 75ch;
    margin: 0;
    padding: 3rem;
  }

  .main-guides-image {
    max-width: 800px;
    grid-area: img;
  }
}

/* MAIN (component aka the Search route) */

.main-search {
  margin: 2rem;
}

.main-search-title {
  font-size: 3rem;
  margin: 0;
}
.main-search-content {
  font-size: 2rem;
}

/* SEARCH (component) */

.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 2rem 0;
  padding: 0.3em;
  padding-right: 1rem;
  height: 40px;
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
}

.searchbar-wrapper[data-active-focus="active"] {
  box-shadow: 0 0 5px #2ba6f3;
}

.searchbar-btn,
.searchbar-delete-btn {
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.searchbar-btn:hover {
  font-weight: bold;
}

.form-searchbar {
  height: 40px;
  display: flex;
}

.form-searchbar-label {
  display: flex;
}

#search {
  border: 0;
  outline: none;
  height: 90%;
  align-self: center;
  font-size: 1.2rem;
}

@media (min-width: 600px) {
  #search {
    min-width: 400px;
  }
}

/* BINS (SEARCH COMP) */

.bins-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 0;
  gap: 4rem;
}

.bin-item-wrapper {
  opacity: 0.2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bin-img {
  max-width: 100px;
}

.bin-item-wrapper-active {
  opacity: 1;
  border: 4px solid rgb(0, 255, 21);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .bins-wrapper {
    display: flex;
    margin: 2rem 0;
    gap: 3rem;
  }
}

/* ITEM CARD (SEARCH COMP) */

.item-card--container {
  margin: 2rem;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  border-radius: 10px;
}

.item-card--container[data="compost"] {
  background-color: rgb(212, 241, 212);
}

.item-card--container[data="recycle"] {
  background-color: rgb(201, 213, 242);
}

.item-card--container[data="landfill"] {
  background-color: rgb(211, 211, 211);
}

.item-card--unsplash-img-container {
  /* background-color: black; */
  min-width: 150px;
  /* max-width: 250px; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-card--unsplash-img {
  max-width: 100%;
  /* max-height: 100%; */
  object-fit: contain;
}

.item-card--overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  padding: 0 2rem;
  margin: 1rem 0;
}

.item-card--title {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

.item-card--type {
  font-size: 1.5rem;
}

.item-card--type-compost {
  color: green;
  font-weight: bold;
}

.item-card--type-recycle {
  color: blue;
  font-weight: bold;
}

.item-card--type-landfill {
  font-weight: bold;
}

.item-card--overview strong {
  font-size: 1.2rem;
}

@media (min-width: 600px) {
  .item-card--container {
    margin: 2rem;
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
    border: 4px solid black;
    border-radius: 10px;
  }

  .item-card--unsplash-img-container {
    max-width: 250px;
    padding: 1rem;
  }
}

/* GUIDES */

.guides-title {
  margin: 3rem 1rem 0 1rem;
}

.main-subtext {
  font-weight: 600;
  margin: 2rem;
}

.main-guide-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 250px;
  justify-content: flex-end;
}

.main-guide-container ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style-type: square;
  padding: 0 2rem;
  margin: 0;
}

.pdf_list_item {
  margin: 0.25rem;
  padding: 0.25rem 0;
}

.subgrid-guides-container {
  display: flex;
  flex-direction: column;
  /* text-align: left; */
  /* padding: 0 1rem; */
  margin: 0 auto;
}

.guides-subtitle {
  font-size: 1.8rem;
  padding: 1rem 0;
  margin: 0;
}

.compost-title {
  color: rgb(59, 182, 59);
}

.recycle-title {
  color: rgb(42, 156, 194);
}

.guides_preview_img {
  max-width: 250px;
}

.subgrid-guides-container a,
.subgrid-guides-container a:visited {
  text-decoration: none;
  color: green;
  font-size: 1.25rem;
}

.subgrid-guides-container a:hover {
  text-decoration: underline;
}

@media (min-width: 600px) {
  .main-guide-container {
    max-width: 800px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .main-guide-container {
    max-width: 1000px;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* LEARN MORE */

.learn-header-title {
  font-size: 3rem;
  margin: 1rem;
}

.learn-btns-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  border: 0;
  margin: 2rem 2rem;
  width: 85%;
}

.learn-main-container-wrapper {
  width: 100%;
}

.learn-btn {
  border: 2px solid gray;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
}

.learn-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}

.learn-link:visited {
  text-decoration: none;
  color: white;
}

.learn-compost-btn {
  background-color: rgb(2, 125, 0);
}

.learn-recycle-btn {
  background-color: rgb(0, 78, 150);
}

.learn-videos-btn {
  background-color: rgb(161, 80, 0);
}

.learn-main-container {
  margin: 2rem;
  padding: 1rem;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.learn-main-container:nth-last-child(2) {
  margin-top: 5rem;
}

.learn-main-container.compost {
  background-color: rgb(233, 255, 233);
}

.learn-main-container.recycle {
  background-color: rgb(233, 236, 255);
}

.learn-main-title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.learn-info-subtitle {
  font-size: 1.5rem;
}

.learn-info-body-content {
  margin-bottom: 3rem;
}
.learn-info-body-content,
.learn-benefits-list-item {
  font-size: 1.3rem;
}

.learn-benefits-list {
  text-align: left;
}

.learn-benefits-list-item {
  margin-bottom: 0.7rem;
}

.footnotes-container {
  width: 80%;
  margin: 3rem 0;
}

.video-thumbnail-link,
.video-thumbnail-img {
  width: 100%;
  margin: 0 0 3rem 0;
}

.video-thumbnail-img:hover {
  border: 5px solid rgb(217, 146, 146);
}

.video-subtext {
  text-align: left;
  padding-left: 1rem;
}

@media (min-width: 600px) {
  .learn-main-container-wrapper {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .learn-btns-wrapper {
    justify-content: center;
  }

  .learn-btn {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    gap: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .learn-btn:hover {
    border: 2px solid black;
  }

  .learn-compost-btn:hover {
    background-color: rgb(14, 163, 51);
  }
  .learn-recycle-btn:hover {
    background-color: rgb(34, 112, 172);
  }
  .learn-videos-btn:hover {
    background-color: rgb(188, 126, 27);
  }

  .learn-main-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    border: none;
    padding: 5rem;
    max-width: 1200px;
  }

  .learn-info-body-content {
    justify-content: center;
    text-align: left;
    max-width: 75ch;
  }

  .learn-info-subtitle {
    text-align: left;
  }

  .learn-main-container:nth-last-child(2) {
    margin-top: 0;
  }

  .learn-main-container.compost,
  .learn-main-container.recycle {
    background-color: transparent;
  }

  .learn-main-container.compost {
    border: 10px solid green;
  }
  .learn-main-container.recycle {
    border: 10px solid blue;
  }
  .learn-main-container.videos {
    border: 10px solid gray;
  }

  .video-thumbnail-link,
  .video-thumbnail-img {
    max-width: 500px;
    margin: 0 0 3rem 0;
  }

  .video-subtext {
    padding-left: 10rem;
  }

  .learn-videos-content-wrapper {
    position: relative;
  }
  .learn-videos-content-wrapper > .main-subtext {
    position: absolute;
    bottom: -50px;
    right: -50px;
  }
}
