*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 12px;
}

body {
  text-align: center;
}

.header {
  background-color: lightgreen;
}

.header-title {
  margin: 0;
  font-size: 1.5rem;
  padding: 1rem;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0;
  padding: 0.3em;
  width: min-content;
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
}

.searchbar-btn {
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.searchbar-btn:hover {
  font-weight: bold;
}

#search {
  border: 0;
  outline: none;
}

.item-card--container {
  margin: 2rem;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  border: 2px solid black;
  border-radius: 5px 50px 50px 5px;
}

.item-card--container[data="compost"] {
  background-color: rgb(212, 241, 212);
}

.item-card--container[data="recycle"] {
  background-color: rgb(201, 213, 242);
}

.item-card--container[data="landfill"] {
  background-color: rgb(211, 211, 211);
}

.item-card--fake-img {
  background-color: black;
  min-width: 150px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-card--overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  padding: 0 2rem;
}

.item-card--title {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

.item-card--type {
  font-size: 1.5rem;
}

.item-card--type-compost {
  color: green;
  font-weight: bold;
}

.item-card--type-recycle {
  color: blue;
  font-weight: bold;
}

.item-card--type-landfill {
  font-weight: bold;
}
